.exchange {
    padding: 15px;
}

.exchange h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 32px;
    margin-bottom: 2rem;
    color: #000000;

}

.exchange .exchange-card {
    background: #CFD4F1;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 2rem;
    padding-bottom: 1rem;
}

.exchange-card-header {
    margin-bottom: 4.5rem;
}

.exchange-card-header a {
    background: #546BEA;
    border-radius: 8px;
    width: 180px;
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1.6rem;
    color: #FFFFFF;
    text-align: center;
    margin-right: 0.8rem;
    border: 1px solid #546BEA;
    transition: 0.4s ease-in-out;
}

.exchange-card-header a:hover {
    color: #546BEA;
    background-color: #F6F8FE;
}

.exchange-card-header a:last-child {
    color: #546BEA;
    background-color: #F6F8FE;
}

.exchange-card-header a:last-child:hover {
    color: #fff;
    background-color: #546BEA;
}

.exchange-container {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 2rem;
    padding-bottom: 3rem;
    margin: 2rem 0;
}

.exchange-container h5 {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 22px;
    color: #707A8A;
    margin: 1.5rem 0;
    margin-bottom: 3rem;
}

.ex-input-wrap {
    width: 60%;
    margin-right: 2rem;
    position: relative;
}

.ex-input-wrap span {
    position: absolute;
    left: 40%;
    bottom: 0;
    font-weight: 400;
    font-size: 1.9rem;
    color: #000000;
}

.ex-input-wrap input {
    width: 100%;
    height: 45px;
    font-weight: 400;
    font-size: 3.6rem;
    color: #707A8A;
    background: #F6F8FE;
    border-radius: 8px;
    border: none;
    outline: none;
}

.ex-currency {
    /* width: 30%; */
    margin: auto;
}

.ex-currency img {
    width: 32px;
    margin-right: 2rem;
}

.ex-currency h4 {
    font-weight: 400;
    font-size: 2.5rem;
    color: #1E2329;
    margin: 0;

}


.exchange-icon {
    text-align: center;
    margin: 3rem 0;
}

.exchange-icon img {
    width: 64px;
}

.ex-btn button {
    width: 240px;
    display: block;
    margin: auto;
    margin-top: 4rem;
    padding: .7rem 0;
    background: rgba(84, 107, 234, 0.2);
    border-radius: 8px;
    font-weight: 400;
    font-size: 2.9rem;
    line-height: 40px;
    color: #3C56E7;
    border: 1px solid rgba(84, 107, 234, 0.2);
    transition: 0.4s ease-in-out;

}

.ex-btn button:hover {
    color: #fff;
    background: rgba(84, 107, 234, .8);
}

@media screen and (max-width: 575px) {

    .exchange .exchange-card {
        padding: 1.5rem;
    }

    .exchange-card-header {
        margin-bottom: 2.5rem;
    }

    .exchange-card-header a {
        padding: .8rem 0;
        font-size: 1.4rem;

    }

    .exchange-container {
        padding: 1rem;
        padding-bottom: 1.5rem;
    }

    .exchange-container h5 {
        font-size: 1.6rem;
        margin: .7rem 0;
        margin-bottom: 1rem;
    }

    .ex-input-wrap {
        width: 70%;
        margin-right: 2rem;
    }

    .ex-input-wrap span {

        font-size: 1.4rem;

    }

    .ex-input-wrap input {
        height: 35px;
        font-size: 2rem;


    }

    .ex-currency {
        /* width: 30%; */
        margin: auto;
    }

    .ex-currency img {
        width: 22px;
        margin-right: .5rem;
    }

    .ex-currency h4 {
        font-weight: 400;
        font-size: 1.5rem;
        color: #1E2329;
        margin: 0;

    }


    .exchange-icon {
        text-align: center;
        margin: 1rem 0;
    }

    .exchange-icon img {
        width: 40px;
    }


    .ex-btn button {
        width: 180px;
        font-size: 1.9rem;
        line-height: 30px;


    }
}