/* ===== WALLET SECTION START ===== */
.wallet-sec {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8.01603px;
    padding: 1.5rem;
    margin: 2rem 0;
    margin-bottom: 4rem;
}

.wallet-sec h3 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 36px;
    color: #000000;
}

.wallet-sec .wallet-table table thead tr th {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 20px;
    color: #5B616E;
    border-bottom: none;
    padding: 1.5rem;

}

.wallet-sec .wallet-table table tbody tr td img {
    width: 32px;
    margin-right: .9rem;
}

.wallet-sec .wallet-table table tbody tr td .t-heading-t p {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    line-height: 20px;
    color: #5B616E;

}

.wallet-sec .wallet-table table tbody tr td h6 {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #000000;
    margin-bottom: .5rem;
}



.wallet-sec .wallet-table table tbody tr:hover {
    background: #F6F8FE;
    border-radius: 9px;
}

.wallet-sec .wallet-table table tbody tr:hover td:first-child {
    border-radius: 9px 0 0 9px;
}

.wallet-sec .wallet-table table tbody tr:hover td:last-child {
    border-radius: 0 9px 9px 0;
}

.wallet-sec .wallet-table table tbody tr td {
    border-bottom: none;
    padding: 1.5rem;
}

.wallet-sec .wallet-table table tbody tr td span,
.wallet-sec .wallet-table table tbody tr td p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 24px;
    color: #000000;
    margin-bottom: 0;
    padding: 0.5rem 0;
    text-align: left;
}


.wallet-sec .wallet-table table tbody tr td .t-wallet-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wallet-sec .wallet-table table tbody tr td .t-wallet-btns a {
    display: block;
    background: #546BEA;
    border: 1px solid #546BEA;
    border-radius: 8px;
    width: 80px;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 12px;
    color: #FFFFFF;
    padding: 1.5rem 0;
    margin: 0 .7rem;
    transition: 0.4s ease-in-out;
}

.wallet-sec .wallet-table table tbody tr td .t-wallet-btns a:hover {
    color: #546BEA;
    background-color: transparent;
}

/* ===== WALLET SECTION END ===== */